@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 50% 96%;
    --foreground: 273 13% 17%;
    --card: 37 62% 96%;
    --card-foreground: 273 13% 17%;
    --popover: 37 62% 96%;
    --popover-foreground: 273 13% 17%;
    --primary: 345 100% 60%;
    --primary-foreground: 36 50% 96%;
    --secondary: 40 45% 91%;
    --secondary-foreground: 273 13% 17%;
    --muted: 40 45% 91%;
    --muted-foreground: 269 13% 35%;
    --accent: 40 45% 91%;
    --accent-foreground: 273 13% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 36 50% 96%;
    --border: 36 15% 88%;
    --input: 36 15% 88%;
    --ring: 345 100% 60%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .font-serif {
    font-feature-settings: "ss01" 1;
  }
}
